<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-6">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </form>
        <br>
        <h1>Equipes : ({{(equipesList| filter:searchText).length}})</h1>
        <br>
        <a routerLink="new" [ngClass]="['btn', 'btn-primary']">+ Equipe</a>
        <div class="row"  >
            <h3 *ngIf="(equipesList| filter:searchText).length === 0"> no elements found !</h3>
            <div class="col-md-4" *ngFor="let e of equipesList | slice: (page-1) * pageSize : page * pageSize| filter:searchText" >
               <app-equipe
               [equipe]="e"
               (notification)="deleteEquipe($event)"
               >

               </app-equipe>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing {{(page*pageSize)-(pageSize-1)}} to {{page*pageSize}} of {{length}}</p></div>
        </div>
        <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="length"></ngb-pagination>
    </div>
</div>
