<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-6">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </form>
        <br>
        <h1>Equipes : ({{(equipesList| filter:searchText).length}})</h1>
        <br>
        <a routerLink="new" [ngClass]="['btn', 'btn-primary']">+ Equipe</a>
        <div class="row"  >
            <h3 *ngIf="(equipesList| filter:searchText).length === 0"> no elements found !</h3>
            <div class="col-md-4" *ngFor="let e of equipesList | slice: (page-1) * pageSize : page * pageSize| filter:searchText" >
                <div class="card card-plain" >
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0">{{e.nomEquipe}}</h4>
                    </div>
                    <img class="card-img-top" src="{{e.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-text" [ngStyle]="{'color':e.niveau === 'JUNIOR' ? 'green' : e.niveau === 'SENIOR'? 'orange' : 'red' }">{{e.niveau}}</h6>
                        <p class="card-text" *ngIf="e.detaileq != null">Salle : {{e.detaileq.salle}}</p>
                        <p class="card-text" *ngIf="e.detaileq != null">Thematic : {{e.detaileq.thematique}}</p>
                        <a routerLink="update/{{e.idEquipe}}" [ngClass]="['btn', 'btn-outline-warning']">Edit</a>
                        &nbsp;
                        <a routerLink="addDetails/{{e.idEquipe}}" [ngClass]="['btn', 'btn-primary']">add Details</a>
                        &nbsp;
                        <button mat-raised-button  rel="tooltip"  class="btn btn-danger" (click)="deleteEquipe(e)" style="float: right;"><i class="material-icons">delete</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing {{(page*pageSize)-(pageSize-1)}} to {{page*pageSize}} of {{length}}</p></div>
        </div>
        <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="length"></ngb-pagination>
    </div>
</div>
