<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-6">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </form>
        <br>
        <h1>Details : ({{(detailsList| filter:searchText).length}})</h1>
        <div class="row"  >
            <h3 *ngIf="(detailsList| filter:searchText).length === 0"> no elements found !</h3>
            <div class="col-md-4" *ngFor="let d of detailsList | slice: (page-1) * pageSize : page * pageSize| filter:searchText" >
                <div class="card card-plain" >
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Detail {{d.idDetailEquipe}}</h4>
                    </div>
                    <div class="card-body">
                        <h4>Salle: {{d.salle}}</h4>
                        <h4>Thematique: {{d.thematique}}</h4>
                        <a routerLink="/details/update/{{d.idDetailEquipe}}" [ngClass]="['btn', 'btn-outline-warning']">Edit</a>
                        <button mat-raised-button  rel="tooltip"  class="btn btn-danger" (click)="deleteEquipe(d)" style="float: right;"><i class="material-icons">delete</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing {{(page*pageSize)-(pageSize-1)}} to {{page*pageSize}} of {{length}}</p></div>
        </div>
        <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="length"></ngb-pagination>
    </div>
</div>
